body::-webkit-scrollbar {
	width:4px;
	background:#eee;
}

body::-webkit-scrollbar-button {
	width:1px;
	height:8px;
	background:#666;
}

body::-webkit-scrollbar-thumb {
	background:#999;
}

.nav-link, .navbar-nav, .dropdown-item{
    color: #00208a !important;
    font-size: 14px;
}

.nav-link:hover{
    opacity: 70%;
}

.dropdown-menu{
    margin-top: 34px !important;
    border-top: 2px solid #00208a !important;
    border-radius:0 !important ;
    
}

.action{
    font-size: 70px;
    font-weight: 900;
    line-height: 65px;
    color: #000e42;
}

.card-title{
    color: #000e42 !important;
    font-weight:600;
}

.learn-more{
    border-bottom: 3px solid #000e42 !important;
    color: inherit;
}

.card-img-top{
    filter: grayscale(100%);
}

.card-text{
    height: 150px;

}

.card-title{
    height: 60px;
}

.card{
    border: 0 !important;
    box-shadow: none !important;
    margin-top: 15px !important;
}

.hero-pic{
    max-width: 100%;
    margin: auto;
    height: auto;
}

@media (max-width: 1024px) {
    .hero-pic{
        max-width: 100%;
    }
    
    .action{
        font-size: 50px;
        font-weight: 700;
        line-height: 45px;
    }

    .card-text{
        height: 240px;
    
    }

}

@media (max-width: 768px){
    .hero-pic{
        max-width: 80%;
    }
    
    .action{
        font-size: 50px;
        font-weight: 700;
        line-height: 45px;
    }
}