.nav-link, .navbar-nav, .dropdown-item{
    color: black !important;
    font-size: 14px;
}

.nav-link:hover{
    opacity: 70%;
}

.dropdown-menu{
    margin-top: 34px !important;
    border-top: 2px solid #00208a !important;
    border-radius:0 !important ;
    
}