body::-webkit-scrollbar {
	width:4px;
	background:#eee;
}

body::-webkit-scrollbar-button {
	width:1px;
	height:8px;
	background:#666;
}

body::-webkit-scrollbar-thumb {
	background:#999;
}

.nav-link, .navbar-nav, .dropdown-item{
    color: #00208a !important;
    font-size: 14px;
}

.nav-link:hover{
    opacity: 70%;
}

.dropdown-menu{
    margin-top: 32px !important;
    border-top: 2px solid #00208a !important;
    border-radius:0 !important ;
    
}

.action{
    font-size: 70px;
    font-weight: 900;
    line-height: 65px;
    color: #000e42;
}

.card-title{
    color: #000e42 !important;
    font-weight:600;
}

.learn-more{
    border-bottom: 3px solid #000e42 !important;
    color: inherit;
}

.card-img-top1{
    filter: grayscale(100%);
}

.card-text{
    height: 150px;

}

.card-title{
    height: 60px;
}

.card{
    border: 0 !important;
    box-shadow: none !important;
    margin-top: 15px !important;
}

.hero-pic{
    max-width: 100%;
    margin: auto;
    height: auto;
}

.card-text2{
    height: 500px;
}

.card-text2 p{
    padding-top: 7px;
    border-bottom:1px solid #7ebec5 ;
}

.text-more{
    color: #00208a;
    /* font-size: small !important; */
}

.alumni{
    margin-left: 35px;
}

.tour{
    background-image: linear-gradient(120deg, rgba(0, 4, 66, 0) 0%, #000442 70%), url(./sqi/DSC_9054-scaled.jpg);
    background-position: center;
    background-size: cover;
}

.carousel-item{
    width: 50% !important;

}

.carousel-inner{
    width: 100% !important;
}

.overflow-y-scroll::-webkit-scrollbar {
	width:4px;
	background:#eee;
}

.overflow-y-scroll::-webkit-scrollbar-button {
	width:2px;
	height:8px;
	background:#666;
}

.overflow-y-scroll::-webkit-scrollbar-thumb {
	background:#999;
}

.alumni_mobile{
    display: none !important;
}

.box{
    height: 250px;
    
}

.box-pic{
    background-image: url(./sqi/conference_image_15.jpg);  
    background-size: cover;
    background-position: center;
}

@media (max-width: 1024px) {
    .hero-pic{
        max-width: 100%;
    }
    
    .action{
        font-size: 50px;
        font-weight: 700;
        line-height: 45px;
    }

    .card-text{
        height: 240px;
    
    }

    .card-text2{
        height: 650px;
    }

}

@media (max-width: 768px){
    .hero-pic{
        max-width: 80%;
    }
    
    .action{
        font-size: 50px;
        font-weight: 700;
        line-height: 45px;
    }

    .card-text{
        height: 120px;
    
    }

    .card-text2{
        height: 410px;
    }

    .google{
        width: 40% !important;
    }

    .alumni_mobile{
        display: block !important;
    }

    .alumni_large{
        display: none !important;
    }

    .alumni_mobile_img  li img{
        width: 70% ;
        
    }

    .alumni_mobile_img li{
        margin-left: -80px !important;
    }

    .ratings_details{
        flex-direction: column !important;
        padding-left: 10px;
        
    }

    .ratings{
        margin: 30px 4px;
        width: 290px !important;
        height: 330px !important;
    }

    .box-pic{
        height: 200px;
    }

}